<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:label="@string/launcher_activity_label"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.CanvasLauncher"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogs.PinShortcutActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/pin_shortcut_activity_title"
            android:theme="@style/Theme.PinShortcutActivity">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
