<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- label and icon are set in :ui:common because they are also displayed in the ui -->
    <application
        android:appCategory="productivity"
        tools:ignore="MissingApplicationIcon,UnusedAttribute" />
</manifest>
